.text-search-input {
  display: flex;
  align-items: center;
}

.text-search-input input {
  flex: 1;
  padding: 8px;
  margin: 5px;
}

.text-search-input .logo-button {
  padding: 8px 30px;
  background-color: rgba(255, 0, 0, 0.2);
  color: #fff;
  cursor: pointer;
  border-radius: 4px;
}

@media screen and (max-width: 400px) {
  .text-search-input {
    flex-direction: column;
    align-items: stretch;
    width: 100%;
  }

  .logo-button {
    margin-bottom: 10px;
  }

  .text-search-input input {
    margin-bottom: 10px;
  }
}
