.book-card {
  border: 1px solid #ddd;
  padding: 16px;
  margin: 16px;
  max-width: 300px;
  width: 100%;
  box-sizing: border-box;
}

.book-card h2 {
  font-size: 18px;
  margin: 8px 0;
  color: #ddd;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.book-card p {
  margin: 8px 0;
  color: #ddd;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media screen and (max-width: 380px) {
  .book-card {
    max-width: 100%;
  }
}
